html, body, #app{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.el-card{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) !important;
    border-radius: 3px;
}

.el-breadcrumb{
    margin: 0px 0px 15px 10px;
}

.el-form{
    font-weight: 900;
}

.el-table{
    margin: 10px 0px;
}

.el-table td, .el-table th{
    text-align: center !important;
}

.topic .cell {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.el-pagination{
    margin: 0px 0px 8px 0px;
    float: right;
}

.el-select{
    width: 100%;
    
}